# build output
dist/

# generated types
.astro/

# dependencies
node_modules/
theme-previews/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
localhost_*.report.html


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# docs or md
README.md
how-to-write.md
github-pages.md
