---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostListWithThumbnails from '../components/PostListWithThumbnails.astro';
import { getCollection } from 'astro:content';
import { getVisiblePosts } from '../utils/posts';

// Get all blog posts and sort them by date
const sortedPosts = getVisiblePosts(await getCollection('posts'));

// Format posts for the PostList component
const posts = sortedPosts.map(post => ({
  ...post,
  url: `/posts/${post.id}`,
  frontmatter: post.data
}));
---

<BaseLayout title="Catatan">
  <div class="max-w-4xl mx-auto">
    <header class="mb-12 text-center" transition:animate="fade">
      <h1 class="text-5xl mb-4">Catatan</h1>
      <p class="text-xl text-gray-500">
        “Di dunia ini semua orang sibuk berkata-kata tanpa pernah mendengar kata-kata orang lain. Mereka berkata-kata tanpa peduli apakah ada orang lain yang mendengarnya. Bahkan mereka juga tidak peduli dengan kata-katanya sendiri. Sebuah dunia yang sudah kelebihan kata-kata tanpa makna. Kata-kata sudah luber dan tidak dibutuhkan lagi. Setiap kata bisa diganti artinya. Setiap arti bisa diubah maknanya. Itulah dunia kita Alina.” ― Seno Gumira Ajidarma, <em>Sepotong Senja untuk Pacarku</em>
      </p>
    </header>

    <div transition:animate="fade">
      <PostListWithThumbnails posts={posts} showTags={true} title="Semua Catatan" />
    </div>
  </div>
</BaseLayout>
